
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=f84cad6ff8f01ed669a16575f886bd27
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress